<!-- new add: mt-0 -->
<div class="Container mt-0">
  <footer>
    <!--wave motion-->
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>

    <div class="FooterContainer">
      <!--Icons-->
      <a
        href="https://www.facebook.com/youssef.ghobrial.96"
        target="_blank"
        rel="noopener noreferrer"
        class="icon facebook"
      >
        <div class="tooltip">Facebook</div>
        <span><i class="fa-brands fa-facebook-f"></i></span>
      </a>
      <a
        href="https://www.linkedin.com/in/youssef-ghobrial-bab529206"
        target="_blank"
        rel="noopener noreferrer"
        class="icon linkedin"
      >
        <div class="tooltip">LinkedIn</div>
        <span><i class="fa-brands fa-linkedin-in"></i></span>
      </a>
      <a
        href="https://github.com/YoussefGhobrial"
        target="_blank"
        rel="noopener noreferrer"
        class="icon github"
      >
        <div class="tooltip">GitHub</div>
        <span><i class="fa-brands fa-github"></i></span>
      </a>
    </div>

    <div class="FooterNav">
      <ul>
        <li><a routerLink="home">home</a></li>
        <li><a routerLink="blogs">Blogs</a></li>
        <li><a routerLink="contact-us">Contact Us</a></li>
        <li><a routerLink="about">About Us</a></li>
      </ul>
    </div>
    <div class="FooterBottom">
      <h3>Designed and developed by Youssef Ghobrial</h3>
    </div>
  </footer>
</div>
